@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #009966;
    --color-secondary: #D4FFF3;
    --color-secondary2: #101828;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #CBCBCB;

    --color-ikon_bg: #88DC84;
    --color-purple: #9810FA;
    --color-yellow: rgb(255, 225, 0);

}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: inter;

}


.wrapper {

}

/* Header */

.header {
    width: 100%;
    /* height: 6rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 5;

}

.header__logo-section {

}

.header__logo {
    height: 3rem;
    margin: 1.5rem 6rem 1rem;

}

.header__nav-section {



}

.header__nav {
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.header__nav--primary {
    color: var(--color-primary);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.header__button {

    padding: .7rem .5rem;
    margin-right: 7rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: .3rem;
    font-weight: 600;
}


/* Hero */

.hero {
    width: 95%;
    height: 80vh;
    position: relative; /*denna gör inget, varför har jag den?*/

    /* display: grid;
    grid-template-columns: repeat(5 ,1fr); */
    /* grid-template-rows: repeat(3, 1fr); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* dessa gör att bilden går ovanför headern...
     */
     justify-self: center;
}

.hero__img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    position: absolute;
   z-index: -1;
   /* display: block; */
   object-fit: cover;



}

.hero__text-section {
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: 2/ 5;
    z-index: 1;


    text-align: center; /*centrerar text*/
}

.hero__title {
    font-size: 90px;
    font-weight: 400;
    color: var(--color-white);
}

.hero__subtitle {
    font-size: 36px;
    font-weight: 400;
}

.hero__button-section {
    display: flex;
    justify-content: center;

    margin: 1rem;
}

.hero__button {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: .3rem;
    text-decoration: none;
    width: 9rem;
    padding: .7rem .5rem;
    margin-right: 2rem;

    display: flex;
    justify-content: center;
}


/* Us */
.vision {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    margin: 3rem 4rem;

}

.vision__title {
    grid-column: span 4;
    justify-self: center;
    font-weight: 400;
    font-size: 48px;
}

.vision__text {
    grid-column: span 4;
    justify-self: center;
    text-align: center;
    margin: 1rem 7rem;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;

}

.vision__card {
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
    margin: 1.5rem .5rem;
    padding: 1rem 2rem;

}

.vision__ikon {
    color:var(--color-primary);
    background-color: var(--color-ikon_bg);
    padding: .6rem;
    border-radius: 50%;
    font-size:  1.3rem;

}

.vision__card-title {
    font-weight: 400;
    font-size: 32px;
    margin: 2rem 0rem 1rem;
}

.vision__card-text {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2rem;


}

.sus {
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* margin: 3rem 4rem; */
    padding: 3rem 4rem;

}

.sus__title {
    grid-column: span 4;
    justify-self: center;
    font-weight: 400;
    font-size: 48px;
}

.sus__subtitle {
    grid-column: span 4;
    justify-self: center;
    text-align: center;
    margin: 1rem 7rem;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 28px;

}


.sus__card {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
    margin: 1.5rem .5rem;
    padding: 1rem 2rem;
}


.sus__ikon {
    color:var(--color-primary);
    background-color: var(--color-ikon_bg);
    font-size:  2rem;
    padding: .6rem;
    border-radius: 50%;
    font-size:  1.3rem;
}

.sus__card-title {
    color: var(--color-primary);
    font-weight: 400;
    font-size: 32px;
    margin: 2rem 0rem 1rem;
}

.sus__card-subtitle {
    font-weight: 400;
    font-size: 28px;
    margin: 2rem 0rem 2rem;
}

.sus__card-text {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2rem;
}


/* Article */

.article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 4rem;
    gap: 4rem;
}

.article__text-section {
    grid-column: 1/2;

}

.article__title {
    font-weight: 400;
    font-size: 48px;

}

.article__subtitle {
    font-weight: 400;
    font-size: 20px;
}

.article__info {
    font-weight: 500;
    font-size: 20px;
    margin: 2.5rem 0rem .5rem;
}

.article__text {
    font-weight: 400;
    font-size: 20px;
}

.article__button {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 24px;
    font-weight: 400;
    padding: .7rem 1rem;
    margin: 2rem 0rem;
    border: none;
    border-radius: .3rem;
}

.article__img-section {
    grid-column: 2/3;
}

.article__img-section {
    grid-column: 2/3;
}


.article__img {
    max-width: 100%;
    width: auto;
    border-radius: 2rem;
    aspect-ratio: 1;
    object-fit: cover;
}


/* booking */

.cta {
    background-color: var(--color-primary);
    text-align: center;
    padding: 5rem;
}

.cta__title {
    color: var(--color-white);
    font-size: 48px;
    font-weight: 400;

}

.cta__text {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 400;
    margin: 1rem;
}

.cta__button {
    background-color: var(--color-gray);
    color:var(--color-primary);
    font-size: 24px;
    font-weight: 600;
    padding: .7rem 1rem;
    margin: 2rem 0rem;
    border: none;
    border-radius: .3rem;
}

/* Footer */

.footer {
    background-color: var(--color-secondary2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */

}


.footer__logo {
    width: 10rem;
    margin: 4rem 6rem 0rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.footer__text {
    color:var(--color-white);
    grid-column: 1 /3;
    grid-row: 1/2;
    font-size: 16px;
    font-weight: 400;
    align-self: end;
    margin: 0rem 4rem 2rem 6rem;

}

.footer__info:nth-of-type(1) {
    color:var(--color-white);


    display: flex;
    flex-direction: column;

    grid-column: 3/ 4;
    grid-row: 1/2;
}

.footer__info:nth-of-type(2) {
    color:var(--color-white);
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;

    grid-column: 4/ 5;
    grid-row: 1/2;
}

.footer__title {
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-size: 32px;
    font-weight: 400;
}

.footer__addres {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;

}


.footer__copy-section {
    border-top: 1px solid blanchedalmond;
    margin: 1rem 0rem 0rem 6rem;

    display: grid;
    grid-column: 1/5;

}

.footer__copy {
    color:var(--color-white);
    grid-row: 3/4;
    grid-column: 1/ 4;
    font-size: 24px;
    font-weight: 400;
    margin: 1rem 5rem 15rem 0rem;
    text-align: center;

}

.footer__link {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;

}



/* absolut.html börjar här */

/* Hotell */

.hotel {
    background-color: var(--color-secondary);
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    padding: 4rem 4rem 4rem 4rem;
}

.hotel__link-section {
    background-color: var(--color-gray);
    padding: 1rem;
    border-radius: 2rem;
   
   /* grid-column: 2/3; */
    /* display: flex;
    justify-self: center; */
    text-align: center;
    margin: 0rem 20rem 0rem 20rem;
    
    
    
    


}

.hotel__link {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 3rem;
    
    
    

}

.hotel__link--gray {
    background-color: var(--color-white);
    border-radius: 2rem;
    padding: .3rem 3rem;
    
    /* display: flex;
    flex-direction: row;
    align-items: center; */

    
}

.hotel__title {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 6rem 0rem 2rem;
    /* grid-column: 2/3; */

}

.hotel__text {
    font-size: 24px;
    font-weight: 400;
    padding: 1rem 0rem 6rem;
    text-align: center;
}

.hotel__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.hotel__card {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
    margin: .5rem;
    /* padding: 1rem 2rem; */
    

}

.hotel__img {
    width: 100%;
    height: 40vh;
    border-top-left-radius : 1.5rem;
    border-top-right-radius : 1.5rem;
    object-fit: cover;
    
    
}

.hotel__card-title {
    font-size: 28px;
    font-weight: 400;
    padding: 2rem 1rem 0rem;
    
}

.hotel__card-text {
    font-size: 20px;
    font-weight: 400;
    padding: 1rem;
    margin-right: 1rem;
}


.cta__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.cta__box {
    color: var(--color-white);

}

.cta__box-number {
    font-size: 64px;
    font-weight: 400;
    margin: 3rem 0rem 1rem 0rem;
}

.cta__box-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}