@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #009966;
    --color-secondary: #D4FFF3;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #CBCBCB;

    --color-ikon_bg: #88DC84;
    --color-purple: #9810FA;
    --color-yellow: rgb(255, 225, 0);
    
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: inter;
    
}


.wrapper {
    
}

/* Header */

.header {
    width: 100%;
    /* height: 6rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 5;
}

.header__logo-section {
    
}

.header__logo {
    height: 3rem;
    margin: 1rem 3rem .5rem;
    
}

.header__nav-section {
    

    
}

.header__nav {
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.header__nav--primary {
    color: var(--color-primary);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.header__button {

    padding: .7rem .5rem;
    margin-right: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: .3rem;
    font-weight: 600;
}


/* Hero */

.hero {
    width: 100%;
    height: 80vh;
    position: relative; /*denna gör inget, varför har jag den?*/

    /* display: grid;
    grid-template-columns: repeat(5 ,1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* dessa gör att bilden går ovanför headern...
     */
}

.hero__img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
    position: absolute;
   z-index: -1;
   /* display: block; */
   object-fit: cover;
}

.hero__text-section {
    color: var(--color-white);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    grid-column: 2/ 5; 
    z-index: 1;
    
    
    text-align: center; /*centrerar text*/
}

.hero__title {
    font-size: 90px;
    font-weight: 400;
    color: var(--color-white);
}

.hero__subtitle {
    font-size: 36px;
    font-weight: 400;
}

.hero__button-section {
    display: flex;
    justify-content: center;
    
    margin: 1rem;
}

.hero__button {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: .3rem;
    text-decoration: none;
    width: 9rem;
    padding: .7rem .5rem;
    margin-right: 2rem;
    
    display: flex;
    justify-content: center;
}


/* Us */
.us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}